<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DSMT_MEDIA_ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.46:8090/DSMT_MEDIA_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSMT_MEDIA_ServiceSoap"
        contract="DSMT_MEDIA_ServiceReference.DSMT_MEDIA_ServiceSoap"
        name="DSMT_MEDIA_ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>